      <div class="container">
        <div class="card" id="show-create">
          <div class="card-image waves-effect waves-block waves-light">

          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">New Show<i
                class="material-icons right"
              >Open</i></span>
          </div>

          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Show Details<i
                class="material-icons right"
              >Close</i></span>
            <br />
            <form class="col">
              <div class="row">
                <div class="input-field col s6">
                  <input type="text" placeholder="Add Date" id="item-date" />
                  <label for="item-date">Date</label>
                </div>
                <div class="input-field col s6">
                  <input type="text" placeholder="Add City" id="item-city" />
                  <label for="item-city">City</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <input type="text" placeholder="Add venue" id="item-venue" />
                  <label for="item-venue">Venue</label>
                  <input type="text" placeholder="Address" id="item-address" />
                </div>
                <div class="input-field col s6">
                  <input type="text" placeholder="Name" id="item-name" />
                  <input
                    type="text"
                    placeholder="Phone Number"
                    id="item-phone"
                  />
                  <input type="email" placeholder="Email" id="item-email" />
                  <label for="item-email">Contact Info</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <input type="number" placeholder="Deal" id="item-deal" />
                  <label for="item-deal">Deal</label>
                </div>
                <div class="input-field col s6">
                  <input
                    type="number"
                    placeholder="Deposit"
                    id="item-deposit"
                  />
                  <label for="item-deposit">Deposit</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <input
                    type="text"
                    placeholder="Show Time"
                    id="item-showtime"
                  />
                  <label for="item-showtime">Show Time</label>
                </div>
                <div class="input-field col s6">
                  <input
                    type="text"
                    placeholder="Arrival Time"
                    id="item-arrivaltime"
                  />
                  <label for="item-arrivaltime">Arrival Time</label>
                </div>
                <button class="add-btn btn blue darken-3"><i
                    class="fa fa-plus"
                  ></i>Add Show</button>
                <button class="update-btn btn orange"><i
                    class="fa fa-pencil-square-o" id="submit"
                  ></i>Update Show</button>
                <button class="delete-btn btn red"><i
                    class="fa fa-remove"
                  ></i>Delete Show</button>
                <button class="back-btn btn grey pull-right"><i
                    class="fa fa-chevron-circle-left"
                  ></i>Back</button>
              </div>
            </form>
          </div>
        </div>
      </div>

<script src="/javascript/new-show.js"></script>