

<div class="container">
  <form>
    <label for="date">Date</label><br />
    <input type="text" id="item-date" name="date" /><br />
    <label for="city">City</label><br />
    <input type="text" id="item-city" name="city" />
    <label for="venue">Venue</label><br />
    <input type="text" id="item-venue" name="venue" /><br />
    <label for="address">Address</label><br />
    <input type="text" id="item-address" name="address" /><br />
    <label for="contact">Contact</label><br />
    <input type="text" id="item-contact" name="contact" />
    <label for="phone">Phone</label><br />
    <input type="text" id="item-phone" name="phone" />
    <label for="email">Email</label><br />
    <input type="text" id="item-email" name="email" />
    <label for="deal">Deal</label><br />
    <input type="text" id="item-deal" name="deal" />
    <label for="deposit">Deposit</label><br />
    <input type="text" id="item-deposit" name="deposit" />
    <label for="showtime">Showtime</label><br />
    <input type="text" id="item-showtime" name="showtime" />
    <label for="arrivaltime">Arrival</label><br />
    <input type="text" id="item-arrivaltime" name="arrivaltime" />
    <input type="submit" value="Submit" id="submit" />
  </form>

</div>

<script src="/javascript/new-show.js"></script>